[defaults]
inventory = inventory/hosts.example.yml
roles_path = roles
interpreter_python = auto_silent
retry_files_enabled = false
stdout_callback = yaml

[privilege_escalation]
become = false

[inventory]
enable_plugins = host_list, script, auto, yaml, ini
