/gh/graphhopper/
/tileserver/fonts/
/tileserver/tiles/
*.pbf
*.tar
*.zip
/gh/data/logs/
/gh/data/default-gh/
.idea
/venv
/__pycache__
*.pyc
.idea/
/tileserver/styles/server_local/
/tileserver/styles/server_viuna/
/tileserver/styles/server_rahdari/